body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url("./images/background.png");
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.pizzaParty {
  width: 300px;
  height: 300px;

}
.pizzaPartyWrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.dancer{
  /*background: red;*/
  /*border:10px solid red;*/
  /*border-radius: 50%;*/
  position: absolute;
  transition: all .25s ease;
  z-index: 100;
}
.dancer--blue {
  border: 10px solid blue;
  background-color: blue;
}

.PizzaDancerLineUp {
  top: 75px !important;
}
.colorBlinkLineUp {
  top: 400px !important;
}
.blinkyLineUp {
  top: 600px !important;
}

.dancer:hover {
  animation: 0.5s ease DANCER_FLIP infinite;
}

@keyframes DANCER_FLIP {
  to{
    transform: rotateX(180deg);
  }
}

.catDancer {
  width: 150px;
  height: 200px;
  background-image: url("./images/dancingkitty.gif");
  background-size: cover;
}

.pizzaDancer {
  width: 200px;
  height: 200px;
  background-image: url("./images/pizza.gif");
  background-size: cover;
  animation: .5s ease PIZZA_ROTATE infinite;
}

@keyframes PIZZA_ROTATE {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(180deg);
  }
}

.dancer.selected {
  background-color: rgba(0,0,0,.5);
}

#center-dancer-0 {
  top: 40vh !important;
  left: 22vw !important;
  transform: scale(1.5);
}

#center-dancer-1 {
  top: 40vh !important;
  left: 60vw !important;
  transform: scale(1.5);
}

